<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="logindemoproject">
<listeners>
<listener class-name="com.logindemoproject.utilities.ExtentReportWithListener"></listener>
</listeners>
  <test thread-count="5" name="com.logindemoproject.testcase">
    <classes>
      <class name="com.logindemoproject.testcase.TestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

